n8n/workflow.json
{
  "name": "Slack Documentation Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Slack Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "slack-doc-chatbot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "challenge-check",
              "leftValue": "={{ $json.challenge }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-challenge",
      "name": "URL Verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.challenge }) }}",
        "options": {}
      },
      "id": "respond-challenge",
      "name": "Respond Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 200]
    },
    {
      "parameters": {
        "jsCode": "// Extract and clean the message from Slack event\nconst event = $input.first().json.event || {};\nconst text = event.text || '';\nconst user = event.user || '';\nconst channel = event.channel || '';\nconst ts = event.ts || '';\n\n// Clean the message - remove mentions, emojis, etc.\nlet cleanedText = text\n  .replace(/<@[A-Z0-9]+>/g, '')  // Remove user mentions\n  .replace(/<#[A-Z0-9]+\\|[^>]+>/g, '')  // Remove channel mentions\n  .replace(/:[a-zA-Z0-9_+-]+:/g, '')  // Remove emoji codes\n  .replace(/<([^|>]+)\\|([^>]+)>/g, '$2')  // Keep link text\n  .replace(/<(https?:\\/\\/[^>]+)>/g, '$1')  // Keep URLs\n  .replace(/\\s+/g, ' ')  // Normalize whitespace\n  .trim();\n\n// Check if this is a bot message (skip if so)\nconst isBot = event.bot_id || event.subtype === 'bot_message';\n\nreturn {\n  json: {\n    query: cleanedText,\n    user_id: user,\n    channel_id: channel,\n    timestamp: ts,\n    original_text: text,\n    is_bot: isBot,\n    should_process: !isBot && cleanedText.length > 0\n  }\n};"
      },
      "id": "extract-message",
      "name": "Extract & Clean Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-process",
              "leftValue": "={{ $json.should_process }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-should-process",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://chatbot:8000/api/v1/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"{{ $json.query }}\",\n  \"user_id\": \"{{ $json.user_id }}\",\n  \"channel_id\": \"{{ $json.channel_id }}\",\n  \"include_sources\": true\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "query-api",
      "name": "Query Documentation API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1130, 300]
    },
    {
      "parameters": {
        "jsCode": "// Format the API response for Slack\nconst response = $input.first().json;\nconst answer = response.answer || 'Sorry, I could not find an answer.';\nconst sources = response.sources || [];\nconst query = response.query || '';\n\n// Build Slack message blocks\nconst blocks = [\n  {\n    type: 'section',\n    text: {\n      type: 'mrkdwn',\n      text: answer\n    }\n  }\n];\n\n// Add sources if available\nif (sources.length > 0) {\n  blocks.push({\n    type: 'divider'\n  });\n  \n  const sourceText = sources\n    .slice(0, 3)  // Limit to 3 sources\n    .map((s, i) => `${i + 1}. *${s.source}*`)\n    .join('\\n');\n  \n  blocks.push({\n    type: 'context',\n    elements: [\n      {\n        type: 'mrkdwn',\n        text: `📚 *Sources:*\\n${sourceText}`\n      }\n    ]\n  });\n}\n\nreturn {\n  json: {\n    channel: $('Extract & Clean Message').first().json.channel_id,\n    thread_ts: $('Extract & Clean Message').first().json.timestamp,\n    blocks: blocks,\n    text: answer  // Fallback text\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Slack Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.channel }}",
        "messageType": "block",
        "blocksUi": "={{ $json.blocks }}",
        "otherOptions": {
          "thread_ts": "={{ $json.thread_ts }}"
        }
      },
      "id": "send-slack-message",
      "name": "Send Slack Response",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1570, 300],
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'skipped' }) }}",
        "options": {}
      },
      "id": "respond-skip",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 500]
    }
  ],
  "connections": {
    "Slack Webhook Trigger": {
      "main": [
        [
          {
            "node": "URL Verification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Verification?": {
      "main": [
        [
          {
            "node": "Respond Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract & Clean Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Clean Message": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Query Documentation API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Documentation API": {
      "main": [
        [
          {
            "node": "Format Slack Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Response": {
      "main": [
        [
          {
            "node": "Send Slack Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Response": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "slack",
      "createdAt": "2024-01-15T00:00:00.000Z",
      "updatedAt": "2024-01-15T00:00:00.000Z"
    },
    {
      "name": "documentation",
      "createdAt": "2024-01-15T00:00:00.000Z",
      "updatedAt": "2024-01-15T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2024-01-15T00:00:00.000Z",
  "versionId": "1"
}
