n8n/workflow.json
{
  "name": "Slack Documentation Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Slack Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "slack-doc-chatbot"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "challenge-check",
              "leftValue": "={{ $json.challenge }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-challenge",
      "name": "URL Verification?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ challenge: $json.challenge }) }}",
        "options": {}
      },
      "id": "respond-challenge",
      "name": "Respond Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [690, 200]
    },
    {
      "parameters": {
        "jsCode": "// Extract and clean the message from Slack event\nconst event = $input.first().json.event || {};\nconst text = event.text || '';\nconst user = event.user || '';\nconst channel = event.channel || '';\nconst ts = event.ts || '';\n\nlet cleanedText = text\n  .replace(/<@[A-Z0-9]+>/g, '')\n  .replace(/<#[A-Z0-9]+\\|[^>]+>/g, '')\n  .replace(/:[a-zA-Z0-9_+-]+:/g, '')\n  .replace(/<([^|>]+)\\|([^>]+)>/g, '$2')\n  .replace(/<(https?:\\/\\/[^>]+)>/g, '$1')\n  .replace(/\\s+/g, ' ')\n  .trim();\n\nconst isBot = event.bot_id || event.subtype === 'bot_message';\n\nreturn {\n  json: {\n    query: cleanedText,\n    user_id: user,\n    channel_id: channel,\n    timestamp: ts,\n    original_text: text,\n    is_bot: isBot,\n    should_process: !isBot && cleanedText.length > 0\n  }\n};"
      },
      "id": "extract-message",
      "name": "Extract & Clean Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-process",
              "leftValue": "={{ $json.should_process }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-should-process",
      "name": "Should Process?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 400]
    },
    {
      "parameters": {
        "jsCode": "// Route to /api/v1/agent/run or /api/v1/query (env: DDA_USE_AGENT=true|1 for agent)\nconst item = $input.first().json;\nconst v = process.env.DDA_USE_AGENT || '';\nconst useAgent = v === 'true' || v === '1';\nconst base = 'http://chatbot:8000';\nconst url = useAgent ? base + '/api/v1/agent/run' : base + '/api/v1/query';\nlet _dda_api_body;\nif (useAgent) {\n  _dda_api_body = {\n    query: item.query,\n    user_id: item.user_id,\n    channel_id: item.channel_id,\n    agent_session_id: 'slack:' + (item.user_id || 'anon'),\n    include_sources: true,\n    include_steps: false,\n    allow_sensitive_tools: process.env.DDA_AGENT_ALLOW_SENSITIVE === 'true',\n  };\n  const secret = process.env.DDA_AGENT_APPROVAL_SECRET;\n  if (secret) _dda_api_body.approval_secret = secret;\n} else {\n  _dda_api_body = {\n    query: item.query,\n    user_id: item.user_id,\n    channel_id: item.channel_id,\n    include_sources: true,\n  };\n}\nreturn { json: { ...item, _dda_api_url: url, _dda_api_body: _dda_api_body } };"
      },
      "id": "route-backend-api",
      "name": "Route Backend API",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json._dda_api_url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json._dda_api_body) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "query-api",
      "name": "Call Backend API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1240, 300]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst answer = response.answer || 'Sorry, I could not find an answer.';\nconst sources = response.sources || [];\nconst blocks = [\n  {\n    type: 'section',\n    text: { type: 'mrkdwn', text: answer }\n  }\n];\n\nif (sources.length > 0) {\n  blocks.push({ type: 'divider' });\n  const sourceText = sources\n    .slice(0, 3)\n    .map((s, i) => `${i + 1}. *${s.source}*`)\n    .join('\\n');\n  blocks.push({\n    type: 'context',\n    elements: [\n      { type: 'mrkdwn', text: `📚 *Sources:*\\n${sourceText}` }\n    ]\n  });\n}\n\nif (response.trace_id) {\n  let meta = '`trace ' + String(response.trace_id).slice(0, 8) + '…`';\n  if (response.iterations != null) meta += ' · ' + response.iterations + ' iter';\n  if (response.tool_calls != null) meta += ' · ' + response.tool_calls + ' tools';\n  blocks.push({\n    type: 'context',\n    elements: [{ type: 'mrkdwn', text: meta }]\n  });\n}\n\nreturn {\n  json: {\n    channel: $('Extract & Clean Message').first().json.channel_id,\n    thread_ts: $('Extract & Clean Message').first().json.timestamp,\n    blocks: blocks,\n    text: answer\n  }\n};"
      },
      "id": "format-response",
      "name": "Format Slack Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1460, 300]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "={{ $json.channel }}",
        "messageType": "block",
        "blocksUi": "={{ $json.blocks }}",
        "otherOptions": {
          "thread_ts": "={{ $json.thread_ts }}"
        }
      },
      "id": "send-slack-message",
      "name": "Send Slack Response",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1680, 300],
      "credentials": {
        "slackOAuth2Api": {
          "id": "SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'ok' }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ status: 'skipped' }) }}",
        "options": {}
      },
      "id": "respond-skip",
      "name": "Respond Skip",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1130, 500]
    }
  ],
  "connections": {
    "Slack Webhook Trigger": {
      "main": [
        [
          {
            "node": "URL Verification?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URL Verification?": {
      "main": [
        [
          {
            "node": "Respond Challenge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract & Clean Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract & Clean Message": {
      "main": [
        [
          {
            "node": "Should Process?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Process?": {
      "main": [
        [
          {
            "node": "Route Backend API",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Backend API": {
      "main": [
        [
          {
            "node": "Call Backend API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Backend API": {
      "main": [
        [
          {
            "node": "Format Slack Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Slack Response": {
      "main": [
        [
          {
            "node": "Send Slack Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Response": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "slack",
      "createdAt": "2024-01-15T00:00:00.000Z",
      "updatedAt": "2024-01-15T00:00:00.000Z"
    },
    {
      "name": "documentation",
      "createdAt": "2024-01-15T00:00:00.000Z",
      "updatedAt": "2024-01-15T00:00:00.000Z"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-04-12T00:00:00.000Z",
  "versionId": "2"
}
